:root {
    --interval: 16s; /* 4 seconds * 4 stages */
  }
  
  .anxietyBox {
    position: relative;
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    background: lightblue;
    margin: 250px auto;
    padding: 25px;
    font-size: 28px;
  }
  
  .anxietyBox p {
    width: 150%;
    position: absolute;
    top: -85%;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
    line-height: 38px;
    font-size: 32px;
  }
  
  .anxietyBox svg {
    width: 100%;
    fill: white;
    transform: scale(0.8);
    animation: lungAnimation var(--interval) infinite;
  }
  
  .anxietyBox__top,
  .anxietyBox__right,
  .anxietyBox__bottom,
  .anxietyBox__left {
    position: absolute;
    font-weight: 700;
  }
  
  .anxietyBox__top {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .anxietyBox__right {
    top: 50%;
    right: -54px;
    transform: translateY(-50%) rotate(90deg);
  }
  
  .anxietyBox__bottom {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .anxietyBox__left {
    top: 50%;
    left: -54px;
    transform: translateY(-50%) rotate(-90deg);
  }
  
  .anxietyBox__dot {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background: #7a8eff;
    border-radius: 50%;
    animation: dotAnimation var(--interval) infinite;
    animation-timing-function: cubic-bezier(0.57, 0.31, 0.8, 0.62);
  }
  
  @keyframes lungAnimation {
    0% {
      transform: scale(0.8);
    }
    25% {
      transform: scale(1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.8);
    }
  }
  
  @keyframes dotAnimation {
    0% {
      top: -10px;
      left: -10px;
    }
    25% {
      top: -10px;
      left: 240px;
    }
    50% {
      top: 240px;
      left: 240px;
    }
    75% {
      top: 240px;
      left: -10px;
    }
    100% {
      top: -10px;
      left: -10px;
    }
  }
  